<footer>
  <div class="container default">
    <div class="info">
      <div class="contacts">
        <h5>Vendas</h5>
        <a class="contact" href="https://wa.me/5548999850038" target="_blank">
          <span class="bi-whatsapp me-2"></span>
          <span>48 99985 0038</span>
        </a>
        <a class="contact" href="tel:554830123500" target="_blank">
          <span class="bi-telephone me-2"></span>
          <span>48 3012 3500</span>
        </a>
      </div>
      <a class="local" href="https://www.google.com/maps/place/Esta%C3%A7%C3%A3o+Milano/">
        <h5>Estação Milano</h5>
        <p>R. Ângelo La Porta, 53 | Sala 605 - Centro</p>
        <p>Florianópolis – SC</p>
      </a>
      <div class="social">
        <a href="#" class="bi-instagram"></a>
        <a href="#" class="bi-facebook"></a>
        <a href="#" class="bi-linkedin"></a>
      </div>
    </div>
    <div class="info">
      <a class="logo" href="/">
        <img src="/assets/img/logo-nova-white.png" alt="Nova Empreendimentos">
      </a>
      <div class="app">
        <span>Baixe o nosso app:</span>
        <a href="#"><img src="/assets/img/app-store.svg" alt="App Store"></a>
        <a href="#"><img src="/assets/img/google-play.svg" alt="Google Play"></a>
      </div>
    </div>

  </div>
</footer>
<div class="bottom">
  <div class="container default">
    2023 © <a href="/">NOVA EMPREENDIMENTOS</a> - TODOS OS DIREITOS RESERVADOS | DESENVOLVIDO POR <a
      href="https://www.imobmark.com.br/" class="highlight" target="_blank">IMOBMARK</a>
  </div>
</div>

<!-- Modal para visualização de imagem em Lightbox -->
<div class="gallery-modal">
  <div class="modal-container">
    <div id="overlay" title="Voltar à página"></div>
    <button class="close" id="close" title="Fechar">
      <span class="bi-x-lg"></span>
    </button>
    <div id="imgWrap">
      <img src="" alt="">
    </div>
  </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/main.js"></script>

</html>