<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Empreendimentos</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/fonts/bootstrap-icons/bootstrap-icons.min.css">
</head>

<body>
    <header id="header">
        <div class="header-top">
            <div class="container d-flex align-items-center">
                <a class="logo me-auto" href="/">
                    <img src="/assets/img/logo-nova-white.png" alt="">
                </a>
                <div class="contatos">
                    <a class="contato" href="tel:554830123500">
                        <span class="icon bi-telephone"></span>
                        <div>
                            <div class="caption">escritório</div>
                            <div class="value">48 3012 3500</div>
                        </div>
                    </a>
                    <a class="contato" href="">
                        <span class="icon bi-whatsapp"></span>
                        <div>
                            <div class="caption">comercial</div>
                            <div class="value">48 99985 0038</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="expand-view">
                <span class="bi-chevron-down"></span>
            </div>
            <div class="container d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi-list"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="empreendimentos.php">
                                empreendimentos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="a-nova.php">
                                a nova
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contato.php">
                                contato
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="acesso-login.php">
                                área do cliente
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signature.php">
                                <img src="/assets/img/signature.svg" alt="signature">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- <div id="headerSpacing"></div> -->