<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Cliente - Nova Empreendimentos</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/fonts/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- CSS específico para páginas ACESSO -->
    <link rel="stylesheet" href="/assets/css/acesso.css">
</head>

<body>
    <header id="header" class="header-acesso">
        <div class="header-top">
            <a href="/acesso-area.php" class="back-to">
                <span class="bi-chevron-left"></span>
            </a>
            <div class="container d-flex align-items-center">
                <a class="logo me-auto" href="/">
                    <img src="/assets/img/logo-nova-white.png" alt="Nova Empreendimentos">
                </a>
                <div class="user-info">
                    <div class="user-name">Usuário</div>
                    <a href="/" class="logout-btn"><span>sair</span> <img src="/assets/img/icons/SignOut.svg" /></a>
                </div>
            </div>
        </div>
    </header>