.empre-destaque {
  padding: 6.25rem 0;
  background: #031d33;

  .block-title {
    color: white;
  }
}

@media all and (max-width: 992px) {
  .empre-destaque {
    .row .col {
      padding: 0 0.5rem;
    }
  }
}
