.foto-texto {
  position: relative;
  padding: 6.5rem 0;
  background-color: var(--cinza-escuro);

  .container {
    // @media all and (min-width: 1200px) {
    //   max-width: 1000px;
    // }

    img {
      position: absolute;
      bottom: 0; left: 0;
      width: 50%;
      height: 100%;
      object-fit: cover;
    }

    p {
      width: 50%;
      color: white;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.5;
      margin-left: auto;
      margin-bottom: 0;
      padding-left: 3.5rem;
    }
  }
}
