@keyframes dragging {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dragging-reverse {
  0% {
    transform: translateX(1rem);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1rem);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.fadeOut {
}

.galeria {
  position: relative;
  margin: 1.875rem 0;

  .drag-instruction {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    padding: 0.75rem 1rem;
    background: rgba(#000, 0.4);
    color: white;
    animation: fadeOut 3s forwards;
    width: 100%;
    
    .inner {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      margin: auto;
    }
    .icon {
      margin-left: 0.5rem;
      margin-right: 0.625rem;
      animation: dragging 1.5s infinite;
    }
    .icon-reverse {
      margin-right: 0.5rem;
      margin-left: 0.625rem;
      animation: dragging-reverse 1.5s infinite;
    }
    .text {
      // font-style: italic;
      font-weight: 500;
    }
  }

  .drag-gallery {
    overflow: hidden;
    // overflow-x: scroll;
    scroll-behavior: auto;
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }

    &-inner {
      position: relative;
      z-index: 1;
      display: flex;

      .drag-gallery-col {
        .gallery-image {
          position: relative;
          cursor: unset !important;

          img {
            height: calc(200px + 5vw);
            object-fit: cover;
            width: 33vw;
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
          }

          &::after {
            content: "";
            background-image: url("/assets/img/icons/view-image.svg");
            background-size: 4rem;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            line-height: 100%;
            background-color: rgba(#000, 0.3);
            z-index: 1;
            text-align: center;
            opacity: 0;

            transition: opacity 0.2s;
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
    &-control {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      display: flex;
      background: none;
      border: none;
      padding: 0;

      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }

      [class^="bi"] {
        margin: auto;
        display: block;
        padding: 0.75rem 1rem;
        box-sizing: content-box;
        background: #fff;
        color: var(--bs-primary);
        font-size: 2rem;
        -webkit-text-stroke: 2px;
      }
    }
  }
}
.drag-gallery-modal {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: calc(100%);
  z-index: 9999;

  #overlay {
    background-color: rgba(#000, 0.6);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

    img {
      cursor: auto;
      width: 1200px;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      object-fit: contain;
      border: solid 0.2rem white;
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.5rem;
      font-size: 1.25rem;
      color: white;
      background: rgba(#000, 0.2);
      border: none;
      border-radius: 0.25rem;

      transition: background 0.2s;

      &:hover {
        background: rgba(#000, 0.4);
      }
      &:active {
        background: rgba(#000, 0.6);
      }
    }
  }
}
