.icones {
  padding: 3.125rem 0 4.5rem;

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7.5rem;

    .icon {
      display: flex;flex-flow: column;
      text-align: center;
      font-size: .875rem;
      font-weight: 500;
      gap: .6rem;
    }
  }
}