.hero-imgless {
  padding: 9rem 0;
  background: var(--gradiente-azul-verde);
  border-bottom: solid 1px white;
  
  .title {
    color: #fff;
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 1.3; /* 122.917% */
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }
}
