@import "./a-nova/hero.scss";
@import "./a-nova/mission.scss";
@import "./a-nova/video-invest.scss";
@import "./a-nova/foto-conteudo.scss";
@import "./home/numeros.scss";
@import "./a-nova/video-cols.scss";
@import "./a-nova/faq.scss";
@import "./a-nova/empre-destaque.scss";

@media all and (min-width: 1500px) {
  .video-cols {
    .container-fluid {
      width: 70vw;
      min-width: 1500px;
    }
    .row .col .video-inner {
      video,
      img {
        height: calc(400px + 4vw);
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .video-invest {
    .container {
      .content {
        padding-right: 4.5rem;
      }
      iframe {
        right: 4.5rem;
        width: calc(50% - 4.5rem);
      }
    }
  }
}

@media all and (max-width: 992px) {
  .mission {
    .container p {
      font-size: 1.5rem;
    }
  }

  .video-invest {
    .container {
      .content {
        padding-right: 2.5rem;
        h2 {
          font-size: calc(1.75rem + 0.9vw);
        }
      }
      iframe {
        right: 0;
        width: 50%;
      }
    }
  }

  .foto-conteudo {
    .container .content {
      padding: 0 3.5rem;
      h2 {
        font-size: calc(1.5rem + 0.9vw);
      }
      p {
        font-size: 1.125rem;
      }
    }
  }
}
