@import "./acesso/login.scss";
@import "./acesso/header.scss";
@import "./empreendimentos/page-title.scss";
@import "./a-nova/empre-destaque.scss";
@import "./acesso/selec-empre.scss";
@import "./acesso/dashboard.scss";
@import "./acesso/dashboard-templates.scss";

@media all and (max-width: 1300px) {
  .dashboard-content {
    padding: 3.125rem 3.125rem 7.5rem;
  }
}

@media all and (max-width: 992px) {
  .login {
    padding: 7.5rem 0;
    .container {
      .heading {
        width: calc(100% / 2);
        padding-right: 1.5rem;
        h1 {
          font-size: calc(1.5rem + 0.9vw);
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
      form {
        width: calc(100% / 2);
        margin-left: 1rem;

        &::before {
          inset: -1rem;
        }

        .submit-wrap a {
          font-size: 0.75rem;
        }
      }
    }
  }

  .acesso-dashboard .sidebar {
    width: 35vw;
  }

  .dashboard-content {
    padding: 3.125rem 1.56rem 7.5rem;
  }

  .dashboard-menu {
    .navbar-nav {
      font-size: 0.85rem;
    }
  }
  .dashboard-section .section-content .accordion {
    &-header button {
      padding: 1rem 0;
    }
    &-body {
      padding: 0.625rem 0 1.5rem;
    }
  }
  .dashboard-heading {
    .container h1 {
      font-size: calc(2rem + 1.5vw);
    }
  }
}

@media all and (max-width: 767.9px) {
  .login {
    .container {
      flex-flow: column;
      align-items: stretch;
      .heading {
        width: auto;
        margin-bottom: 3.5rem;
        padding-right: 0;
        h1 {
          font-size: calc(2rem + 0.9vw);
          margin-bottom: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      form {
        width: auto;
        margin-left: 0;

        .submit-wrap a {
          font-size: 0.85rem;
        }
      }
    }
  }

  .acesso-dashboard {
    flex-flow: column;
    .sidebar {
      width: auto;
    }
  }

  .dashboard-menu {
    height: auto;

    .navbar {
      flex-wrap: wrap;
      max-width: 576px !important;
      margin: auto;
      padding: 0 1.25rem;
    }

    .navbar-nav {
      margin-left: 1rem;
    }
  }

  .dashboard-content {
    padding: 3.125rem 0 7.5rem;
    .container {
      margin: auto;
    }
  }
}

@media all and (max-width: 576px) {
  .login {
    padding: 5rem 0 6.5rem;
    .container {
      .heading h1 {
        font-weight: 600;
      }
      form {
        &::before {
          inset: -0.75rem;
        }
      }
    }
  }
  .dashboard-heading {
    &::after {
      background: linear-gradient(90deg, rgba(#000, 0.7), rgba(#000, 0.3));
    }
    .container h1 {
      font-size: calc(1.75rem + 0.9vw);
      line-height: 1.5;
    }
  }
}

@media all and (max-width: 450px) {
  .login {
    .container {
      .heading {
        h1 {
          font-size: calc(1.5rem + 0.9vw);
        }
        p {
          font-size: 0.9rem;
        }
      }
      form {
        padding: 1.75rem 1.25rem;
        margin: 0 -.75rem;

        &::before {
          inset: -.5rem;
        }
        .submit-wrap {
          // align-items: flex-end;
          flex-flow: column-reverse;
          .btn {
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}
