@import "./contato/hero.scss";
@import "./contato/form.scss";
@import "./contato/tel-whats.scss";

@media all and (max-width: 992px) {
  .hero-imgless {
    padding: 5.5rem 0;

    .title {
      font-size: calc(2rem + 0.9vw);
    }
  }

  .form-contato {
    padding: 5.5rem 0;
    .container .wrapper {
      .form-heading h2 {
        font-size: 1.5rem;
      }
    }
  }
}
@media all and (max-width: 768px) {
  .tel-whats {
    padding: 5.5rem 0;

    .wrapper {
      width: auto;
      max-width: 100%;
      padding: 2rem;
      flex-flow: column;
      align-items: center;
      .contato {
        font-size: 0.9rem;
        text-align: center;
        &:first-child {
          border-right: 0;
          padding-right: 0;
          margin-right: 0;

          border-bottom: solid 2px var(--cinza);
          margin-bottom: 2rem;
          padding-bottom: 2rem;
        }
        a:not(.btn) {
          margin: auto;
        }
      }
    }
  }
}
