@import "./contato/hero.scss";
@import "./contato/form.scss";
@import "./contato/tel-whats.scss";

@media all and (max-width: 992px) {
  .hero-imgless {
    padding: 5.5rem 0;

    .title {
      font-size: calc(2rem + 0.9vw);
    }
  }

  .form-contato {
    padding: 5.5rem 0;
    .container .wrapper {
      .form-heading h2 {
        font-size: 1.5rem;
      }
    }
  }
}
