@import "./empreendimento/hero";
@import "./empreendimento/icones";
@import "./empreendimento/foto-texto";
@import "./empreendimento/galeria";
@import "./empreendimento/contato-form";
@import "./empreendimento/caracter-main";
@import "./empreendimento/caracter-list";
@import "./empreendimento/plantas-slider";
@import "./empreendimento/book";
@import "./empreendimento/proximidades";

@media all and (min-width: 1500px) {
  .foto-texto {
    padding: 8rem 0;
    .container p {
      font-size: 1.5rem;
    }
  }
  .galeria .drag-gallery-inner .drag-gallery-col .gallery-image img {
    width: 25vw;
  }
}
