@import "./empreendimentos/page-title";
@import "./empreendimentos/empre-list-view";

@media all and (max-width: 992px) {
  .empre-list-view {
    .empre {
      .container {
        .heading h2 {
          font-size: calc(2rem + 0.9vw);
        }
        .info p {
          font-size: 1rem;
          &.highlight {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  .page-title,
  .empre-list-view {
    .container {
      max-width: 768px;
    }
  }
}

@media all and (max-width: 768px) {
  .empre-list-view {
    .empre {
      &::after {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 100%);
      }

      .container {
        flex-flow: column;
        align-items: stretch;
        .heading {
          margin-bottom: 2rem;
          text-align: center;

          border-left: none;
          border-bottom: solid 3px #fff;

          padding: 0 0 2rem 0;

          h2 {
            margin: auto;
            margin-bottom: 1.5rem;
            width: auto;
            font-size: calc(1.75rem + 0.9vw);
          }
          p {
            margin: auto;
            font-size: 1rem;
          }
        }
        .info {
          width: 100%;
          text-align: center;
          border-right: none;
          border-bottom: 5px solid var(--bs-primary);

          p {
            font-size: 0.85rem;

            &.highlight {
              display: block;
              width: 100%;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  .page-title,
  .empre-list-view {
    .container {
      max-width: 576px;
    }
  }
}

@media all and (max-width: 375px) {
  .page-title,
  .empre-list-view {
    .container {
      padding: 0 .75rem;
    }
  }
}
