@import "./home/hero-cta";
@import "./home/modelo";
@import "./home/numeros";
@import "./home/slider";
@import "./home/pilares";
@import "./home/video-dep";

@media all and (min-width: 1600px) {
  .hero-cta {
    .carousel .carousel-item .content-wrap .content {
      width: auto;
    }
  }

  .video-dep {
    .media {
      display: flex;
      iframe {
        width: 50%;
        margin-left: auto;
        margin-right: 3.75rem;
      }
    }
    .depoimentos {
      width: 600px;
      margin-left: 3.75rem;
    }
  }
}

@media all and (max-width: 1200px) {
  .hero-cta {
    .carousel .carousel-indicators {
      margin-bottom: 0.75rem;
      button {
        height: 7.5px;
      }
    }
  }

  .pilares {
    .pilar-button {
      padding: 1.5rem 3rem 1.5rem 1.5rem;
    }
  }

  .video-dep {
    .wrapper .depoimentos {
      padding: 1.1rem;
    }
  }
}

@media all and (max-width: 992px) {
  .pilares {
    .pilar-button {
      font-size: calc(1.25rem + 0.1vw);
      padding: 1.5rem 1rem;
    }
  }

  .hero-cta {
    .carousel .carousel-item {
      .container {
        .heading h2 {
          font-size: calc(2rem + 0.9vw);
        }
        .info p {
          font-size: .9rem;
          &.highlight {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .hero-cta .carousel {
    .carousel-item {
      padding: 4rem 0 6rem;
      &::after {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
      }

      .container {
        flex-flow: column;
        align-items: stretch;
        .heading {
          margin-bottom: 2rem;
          text-align: center;

          border-left: none;
          border-bottom: solid 3px #fff;

          padding: 0 0 2rem 0;

          h2 {
            margin: auto;
            margin-bottom: 1rem;
            width: auto;
            font-size: calc(1.75rem + .9vw);
          }
          p {
            margin: auto;
            font-size: 1rem;
          }
        }
        .info {
          width: 100%;
          text-align: center;
          border-right: none;
          border-bottom: 5px solid var(--bs-primary);

          p {
            font-size: 0.85rem;

            &.highlight {
              display: block;
              width: 100%;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    .carousel-control {
      $control-icon-size: 2.5rem;
      &-prev {
        padding-right: 2rem;
      }
      &-next {
        padding-left: 2rem;
      }
      &-prev,
      &-next {
        top: unset;
        bottom: 0;
        height: calc($control-icon-size * 3);

        &-icon {
          font-size: calc($control-icon-size / 2);

          width: $control-icon-size;
          height: $control-icon-size;
        }
      }
    }
  }
  .pilares {
    ul {
      flex-flow: row;
      flex-wrap: wrap;
      li {
        flex: 1;
        width: auto;
        text-align: center;
      }
    }
  }

  .video-dep {
    .media {
      padding: 0;
      display: flex;
      iframe {
        height: 324px;
        width: 576px;
        margin: auto;
      }
    }
    .wrapper {
      order: -1;
      margin-bottom: 3.5rem;
    }
  }
}

@media all and (max-width: 576px) {
  .hero-cta .carousel .carousel-item .content-wrap {
    padding: 0 0.75rem;
    .content {
      padding: 1.5rem 0.75rem;
      .title {
        font-weight: 600;
        word-wrap: break-word;
      }
    }
  }

  .pilares {
    .pilar-content .overlay {
      padding: 4.5rem 1.25rem;
      h2 {
        font-size: calc(1.5rem + 0.9vw);
      }
    }
  }
}
@media all and (max-width: 450px) {
  .modelo .container .wrap .frame-col .frame {
    font-size: calc(0.7rem + 1vw);

    .frame-main {
      padding: 0 0.75rem 0.75rem;
    }

    .frame-side {
      font-size: 0.9em;
    }
  }
}
@media all and (max-width: 375px) {
  .hero-cta .carousel .carousel-item .content-wrap {
    padding: 0.5rem;
    .content {
      padding: 1.5rem 0.5rem;
      .title {
        letter-spacing: 0.2em;
      }
      .local {
        letter-spacing: 0.2em;
      }
    }
  }

  .pilares {
    .pilar-content .overlay {
      padding: 4.5rem 1.25rem;
    }
  }
  .video-dep {
    .wrapper {
      margin-bottom: 2.5rem;
      .depoimentos .depoimento-item:not(:last-child) {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}
