@import "./partials/header";
@import "./partials/footer";

:root {
    --cinza-claro: #e6e7e8;
    --cinza-escuro: #2e3239;
    --gradiente-azul-verde: linear-gradient(90deg, #083050 0%, #0080b2 100%);
    --cinza: #a7a9ac;
}

*::selection {
    background-color: rgba(mix(mix(#a7a9ac, #083050, 10%), #0080b2, 60%), 0.75);
    color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cinza-escuro);
//   border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cinza);
}

a {
    color: var(--bs-primary);
}

a:not(.btn) {
    transition: all 0.2s;

    &:hover {
        opacity: 0.6;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
.signature-font {
    font-family: "Mr De Haviland", cursive;
    line-height: 0.75;
}

.container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;

    @media all and (min-width: 768px) {
        @media all and (max-width: 992px) {
            max-width: 768px !important;
        }
    }
    @media all and (min-width: 576px) {
        @media all and (max-width: 768px) {
            max-width: 576px !important;
        }
    }

    &.default {
        @media all and (min-width: 1200px) {
            max-width: 1000px;
        }
        @media all and (min-width: 1400px) {
            max-width: 1220px;
        }
        @media all and (min-width: 1600px) {
            max-width: 1320px;
        }
    }

    &.smaller {
        @media all and (min-width: 1200px) {
            max-width: 900px;
        }
        @media all and (min-width: 1400px) {
            max-width: 992px;
        }
        @media all and (min-width: 1600px) {
            max-width: 1200px;
        }
    }
}

.btn.btn-light {
    color: var(--bs-primary) !important;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}

form {
    .field {
        margin-bottom: 0.9rem;
    }
    label {
        font-weight: 500;
    }
    .form-control,
    .form-select {
        padding: 0.9rem;
        font-size: 1.1rem;
        font-weight: 500;
        border: none;
        border-radius: 0;
        background: rgba(209, 208, 207, 0.3);
        &::placeholder {
            color: rgba(#000, 0.3);
        }
        &.form-select {
            color: rgba(#000, 0.3);
            &.valid-value {
                color: unset;
            }
        }
    }
    .btn {
        margin-top: 0.9rem;
        margin-left: auto;
        padding: 0.625rem 1.875rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.9rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
}

.invisible {
    display: none;
    visibility: hidden;
}

@import "./components.scss";
