@import "./signature/header.scss";
@import "./signature/hero.scss";
@import "./signature/power-words.scss";
@import "./home/slider.scss";
@import "./signature/slider.scss";
@import "./signature/bairros.scss";

@media all and (max-width: 992px) {
  .hero-signature .carousel .carousel-item {
    img {
      height: 450px;
    }
    .content-wrap .content {
      width: 650px;
      max-width: 100%;
      font-size: calc(2rem + 0.6vw);
    }
  }

  .power-words {
    .words {
      flex-flow: column;
      gap: 1.5rem;

      .divider {
        width: 4px;
        height: 4px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .hero-signature .carousel {
    .carousel-control {
      $control-icon-size: 2.5rem;
      &-prev {
        padding-right: 2rem;
      }
      &-next {
        padding-left: 2rem;
      }
      &-prev,
      &-next {
        top: unset;
        bottom: 0;
        height: calc($control-icon-size * 3);

        &-icon {
          font-size: calc($control-icon-size / 2);

          width: $control-icon-size;
          height: $control-icon-size;
          background-color: var(--cinza-escuro);
          color: white;
        }
      }
    }
  }
  .bairros {
    ul {
      column-count: 2;
      li {
        font-size: 1rem;
      }
    }
  }
}

@media all and (max-width: 576px) {
  .slider {
    padding: 5rem 0 6rem;
    .signature-title {
      margin-bottom: 3.5rem;
    }
  }
  .bairros {
    padding: 5rem 0 6.25rem;
    .signature-title {
      margin-bottom: 3rem;
    }
  }
  .power-words {
    padding: 5rem 0 6.25rem;
    .signature-title {
      margin-bottom: 3rem;
    }
  }
  .hero-signature .carousel .carousel-item .content-wrap .content {
    font-size: calc(1.5rem + 0.9vw);
  }
}

@media all and (max-width: 450px) {
  .bairros {
    ul {
      column-count: 1;
      text-align: center;
      padding: 0;
    }
  }
  .hero-signature .carousel .carousel-item .content-wrap .content h1 {
    letter-spacing: 0.2em;
    .signature-font {
      font-size: 2em;
    }
  }
}

@media all and (max-width: 375px) {
  .hero-signature .carousel .carousel-item .content-wrap {
    padding: 0 0.5rem;
    .content {
      font-size: calc(1.75rem + 0.9vw);
      h1 {
        span {
          display: inline-block;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .slider {
    .signature-title {
      font-size: calc(1rem + 0.6vw);
    }
  }
}
