@import "./signature/header.scss";
@import "./signature/hero.scss";
@import "./signature/power-words.scss";
@import "./home/slider.scss";
@import "./signature/slider.scss";
@import "./signature/bairros.scss";

@media all and (max-width: 992px) {
  .hero-signature .carousel .carousel-item {
    img {
      height: 450px;
    }
    .content-wrap .content {
      width: 650px;
      max-width: 100%;
      font-size: calc(2rem + 0.6vw);
    }
  }

  .power-words {
    .signature-title {
      // margin-bottom: 3rem;
    }
    .words {
      flex-flow: column;
      gap: 1.5rem;

      .divider {
        width: 4px;
        height: 4px;
      }
    }
  }
}
