.slider-signature {
  background-color: var(--cinza-escuro);
  padding: 6.25rem 0 calc(3.12rem + 4rem);

  .signature-title {
    color: white;
    margin-bottom: 4rem;
  }

  .multi-carousel {
    &-control {
      [class^="bi"] {
        background: none;
        @media all and (max-width: 576px) {
          background: rgba(#000, .6);
        }
      }
    }
    &-indicators {
      bottom: -4rem;
      
      @media all and (max-width: 576px) {
        bottom: -3rem;
      }
      button {
        height: 5px;
      }
    }
  }
}
