.selec-empre {
  .page-title {
    background: none;
    padding: 4rem 0 0;
  }
  .empre-destaque {
    background: none;
    padding: 5rem 0 7.5rem;
    .block-title {
      color: var(--bs-primary);
    }
    .empre-overlay .overlay {
      transform: translateY(0);
    }
  }
}
